[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mlflow = "*"
pandas = "*"
boto3 = "*"
pyarrow = "*"
scikit-learn = "==1.2.2"

[dev-packages]
jupyter = "*"
nbconvert = "*"

[requires]
python_version = "3.9"
