[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mlflow = "*"
pandas = "*"
cryptography = "==38.0.4"
pyopenssl = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.9"
